<div class="page-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="display-5">{{ title }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered">
					<tr>
						<th>Avatar</th>
						<th>Name</th>
						<th>Username</th>
						<th>Bio</th>
						<th>Action</th>
					</tr>
					{{# each users}}
					<tr>
						<td>{{ this.photo }}</td>
						<td>{{ this.name }}</td>
						<td>{{ this.username }}</td>
						<td>{{ this.bio }}</td>
						<td><a href="{{ this._id }}/edit" class="btn btn-primary">Edit</a> <a href="{{ this._id }}/delete" class="btn btn-danger">Delete</a></td>
					</tr>
					{{/each}}
				</table>
			</div>
		</div>
	</div>
	{{> pagination }}
</div>